@model Marketplace.Web.Models.Offer.SearchOfferViewModel
    <form id="search-offer-form" asp-controller="Home" asp-action="Index" method="get">

        <input type="hidden" name="Game" value="@Model.Game" />
        <input type="hidden" id="select-sort" name="SortBy" value="@Model.SortBy" />
        <div class="block">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" name="SearchString" placeholder="Search...">

                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="serchInDescription" name="SerchInDescription">
                    <label class="custom-control-label font-14" for="serchInDescription">Search In description</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label font-14" for="customCheck2">Only online users</label>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <input class="form-control form-control-sm" type="text" placeholder="From" id="inputSmall">
                    </div>
                    <div class="col-lg-6 price-to">
                        <input class="form-control form-control-sm " type="text" placeholder="To" id="inputSmall">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label font-14" for="customCheck3">Личный аккаунт</label>
                </div>
            </div>
            <div class="form-group">

                <label class="col-form-label" for="inputDefault">Кто платит за гаранта?</label>

                <div class="form-check form-control-sm">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Не важно
                    </label>
                </div>
                <div class="form-check form-control-sm">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Продавец
                    </label>
                </div>
                <div class="form-check form-control-sm">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Покупатель
                    </label>
                </div>
                <div class="form-check form-control-sm">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        50/50
                    </label>
                </div>
            </div>


            

        @*<div class="form-group">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                    <select class="custom-select">
                        <option>Select an option</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div class="checkBoxContainer">
                    <div id="checkboxes">
                        <label for="one">
                            <input type="checkbox" id="one" /> First checkbox
                        </label>
                        <label for="two">
                            <input type="checkbox" id="two" /> Second checkbox
                        </label>
                        <label for="three">
                            <input type="checkbox" id="three" /> Third checkbox
                        </label>
                    </div>
                </div>
            </div>
        </div>*@
            @await Html.PartialAsync("_FiltersForGamePartial", Model.FilterList)
            

            <div class="">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary w-100">Поиск</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary w-100">Сброс</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
