
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <div class="block-auth">
        <fieldset>
            <legend class="text-center mb-4">Create Account</legend>
            <div class="row">
                <div class="col-md-12">
                    <form action="/Account/Register" class="form-horizontal" method="post" role="form" novalidate="novalidate">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar) id=" Email" name="Email" placeholder="User Name or Email">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id=" Email" name="Email" placeholder="Password">

                            </div>
                        </div>
                        
                        <div class="text-center">
                            <input type="submit" class="btn btn-submit" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
        
  
</div>
