@model Marketplace.Web.Models.Offer.SearchOfferViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .multiselect {
        width: 100%;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .checkBoxContainer {
        width: calc(100% - 72px);
        position: absolute;
        z-index: 99;
        background-color: white;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            padding: 0;
            display: block;
            padding-left: 10px;
            text-align: left;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-3">
                        @await Component.InvokeAsync("SearchPanel", Model)
                    </div>
                    <div class="col-lg-9">
                        
                        @await Component.InvokeAsync("OfferList", Model)





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    function submitSearchOfferForm() {
        var s = $('#select-sort-list').val();
    $('#select-sort').val(s);
        $('#search-offer-form').submit();
    }
    
</script>


<script>
    $('.selectpicker').selectpicker();
</script>
<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>
