<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body class="offer-body">
    <div class="off-canvas-container">
        <div class="off-canvas-content">
            <div class="layout">
                <nav class="navbar navbar-expand-lg  navbar-light trans-navbar mb-5">
                    <div class="container">
                        <img class="navbar-brand" src="~/images/apple-brands.svg" width="16" alt="Alternate Text" />



                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Offer" asp-action="Create">Sell</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Buy</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Help</a></li>
                            </ul>

                            <partial name="_LoginPartial" />
                        </div>


                    </div>

                </nav>
                <div>
                    @RenderBody()
                </div>

            </div>
            <footer class="footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="copyright">
                                © 2015 - 2019 PlayerUp® Global Inc.
                            </p>
                            <a href="/legal/" target="_self">Terms of Service</a>
                            <br>
                            <a href="/legal/privacy/" target="_self">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</body>


</html>
