

<h2>Create</h2>

<ul>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterBoolean" asp-action="Create">Создать булеан фильтр</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterBooleanValue" asp-action="Create">Создать булеан фильтр айтем</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterText" asp-action="Create">Создать текст фильтр</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterTextValue" asp-action="Create">Создать текст фильтр айтем</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterRange" asp-action="Create">Создать рэнж фильтр</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="FilterRangeValue" asp-action="Create">Создать рэнж фильтр айтем</a></li>
</ul>