<ul>
    <li><a class="nav-link" asp-area="Admin" asp-controller="Game" asp-action="Create">Create</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="Game" asp-action="Update">Update</a></li>
    <li><a class="nav-link" asp-area="Admin" asp-controller="Game" asp-action="Delete">Delete</a></li>
</ul>
